@model EmailSender.Models.ViewModels.SendEmailMessageViewModel
@{
    var messagesIds = "";
    foreach (var msg in Model.EmailMessages)
    {
        messagesIds += msg.Id.ToString();
        messagesIds += ", ";
    }
}
<div class="row">

    <h2>Wiadomości wysłane</h2>

    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Temat</th>
                <th scope="col">Odbiorca</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emailMessage in Model.EmailMessages)
            {
                <tr>
                    <td onclick="const messagesIds = [@messagesIds]; ShowBodyMessage('@emailMessage.Id', messagesIds)">
                        @emailMessage.DateOfSending
                    </td>
                    <td onclick="const messagesIds = [@messagesIds]; ShowBodyMessage('@emailMessage.Id', messagesIds)">
                        @emailMessage.Subject
                    </td>
                    <td onclick="const messagesIds = [@messagesIds]; ShowBodyMessage('@emailMessage.Id', messagesIds)">
                        @emailMessage.EmailRecipient.Name
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-danger btn-sm"
                                onclick="deleteEmailMessage('@emailMessage.Id', this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




