@model EmailSender.Models.ViewModels.SendEmailMessageViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1 class="mb-3">@Model.Heading</h1>

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("EmailSend", "Home"))
        {
            //if (Model.EmailMessage.Id == 0)
            //{
            <p class="alert alert-info mt-4 mb-4">
                Proszę wybrać <strong>Odbiorcę</strong> wiadomości.
            </p>
            //}

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.EmailMessage.Id);
            @Html.HiddenFor(x => x.EmailMessage.UserId);

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.EmailMessage.EmailRecipientId, new { @class = "mb-3" })
                @Html.DropDownListFor(x => x.EmailMessage.EmailRecipientId,
                new SelectList(Model.EmailRecipients, "Id", $"Name"),
                "-- Wybierz Odbiorcę --",
                new { @class = "form-control mb-3", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.EmailMessage.EmailRecipientId)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.EmailMessage.Subject, new { @class = "mb-3" })
                @Html.TextBoxFor(x => x.EmailMessage.Subject, new { @class = "form-control mb-3" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.EmailMessage.Body, new { @class = "mb-3" })
                @Html.TextAreaFor(x => x.EmailMessage.Body, new { @class = "form-control mb-3", rows = 10 })
            </div>

            <button type="submit" class="btn btn-primary btn-lg mb-5">
                Wyślij
            </button>
        }
    </div>
    <div class="col-5 offset-lg-1">

        @Html.Partial("_Outbox", Model)

        @foreach (var message in Model.EmailMessages)
        {
            <div 
                 id="@message.Id" 
                 style="display: none;"
                 class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary lead my-1 blog-post-meta">
                    @message.Body
            </div>
        }
        
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function ShowBodyMessage(id, emailMessagesIds) {
            var x;
            for (var i = 0; i < emailMessagesIds.length; i++) {
                x = document.getElementById(emailMessagesIds[i]);
                x.style.display = "none";
            }
             
            x = document.getElementById(id);
            x.style.display = "block";
        }

        function deleteEmailMessage(id, btn) {

            if (!confirm("Czy na pewno chcesz usunąć tą wiadomość?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteEmailMessage", "Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else
                    {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });
        }
    </script>   
}    